/**
 * SelectionCell styles
 * Phase 10.1: Row selection checkbox
 */

.selectionCell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  padding-left: 4px;
  width: 100%;
  height: 100%;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0;
  accent-color: #0d6efd; /* Bootstrap primary blue */
}

.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox:hover:not(:disabled) {
  transform: scale(1.1);
}

.checkbox:focus {
  outline: 2px solid #0d6efd;
  outline-offset: 2px;
}
