/* EditableCheckboxCell Styles */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #667eea;
}

.checkbox:hover:not(:disabled) {
  opacity: 0.8;
}

.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox:focus {
  outline: 2px solid #667eea;
  outline-offset: 2px;
  border-radius: 2px;
}
